@import "../../../styles/variables.scss";

.centered1 {
  display: flex;
  padding-top: 5%;
  width: 50%;
  height: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 8px solid $first_color;
  border-radius: 2%;
  background-color: white;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 20px;
}

.flexItem {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.flexItem span {
  font-size: 20px;
  font-weight: normal;
}
