$white_color: white;
$black_color: #151f42;
$first_color: #5c68d3;
$second_color: #9869bc;
$border_radius: 10px;
$border_width: 2px;
$font_regular: Poppins_Regular;
$font_bold: Poppins_Bold;
$font_light: Poppins_Light;
