.container {
  padding-top: 10%;

  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container1 {
  flex: 1;
  padding-left: 25px;
  img {
    width: 20%;
    height: auto;
  }
}

.searchContainer {
  border-radius: 5px;
  margin-top: 100px;
  width: 100%;
  max-width: 85%;
  display: flex;
  padding-top: 2%;
  justify-content: center;
  z-index: 999;
  align-items: center;
  box-shadow: 3px 3px 3px 3px rgb(138, 138, 138);
}
